TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=UoAwrOJNmIpnm1y8H1wggSkI06ICB3uz
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=